---

# ========================================================================================================
#
#   This needs to be copied separate for `admin.yml` and `api.yml` environment settings.
#   This is deliberate redundancy to avoid malformed server configurations from replicated env.yml files
#
#       cp provisioning/config/env.yml.dist provisioning/config/admin.yml
#       cp provisioning/config/env.yml.dist provisioning/config/api.yml
#       cp provisioning/config/env.yml.dist provisioning/config/vagrant.yml
#
# ========================================================================================================

slack_webhook_token: ""

# this will flag specific tasks/roles to run or not, use with caution!
tavro_env: "vagrant"

# this will determine what version of code is deployed
# DO NOT USE MASTER ON ANYTHING BUT VAGRANT OR YOU WILL FEAR THE WRATH OF GOD
tavro_version: "master"

# this will set the default frontend controller environment for symfony
# available: `app_dev` or `app`
symfony_controller: "app_dev"

# this builds the web directories and string constants for various things
appname: "tavro"

# this is what nginx uses to build vhosts, as well as setting params for symfony
hostname: "tavro.dev"

# angular specific configs
angular_root: "{{web_root}}/app"
angular_port: "4000"
node_version: "7.4.0"
nvm_version: "0.4.0"

APP_HOSTNAME: "app.{{ hostname }}"
API_HOSTNAME: "api.{{ hostname }}"
ADMIN_HOSTNAME: "admin.{{ hostname }}"

become_user: vagrant
home_dir: /home/{{become_user}}
web_root: /var/www/{{appname}}

# ========================================================================================================
#  Blackfire is only necessary on non-vagrant machines, so ignore otherwise.
# ========================================================================================================

blackfire_client_id: ~
blackfire_client_token: ~
blackfire_server_id: ~
blackfire_server_token: ~